// TYPOGRAPHY
$base-font-family     : sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$base-font-size-small : 12px;
$base-font-size       : 16px;
$base-font-size-large : 20px;

// COLORS
$color-primary        : #EF5350;
$color-accent         : #E94141;
$color-darker         : #C62828;
// $color-text           : #8996a3;
// $color-text           : #5f6d7b;
$color-text           : #47494e;
$color-background     : #F7F8FB;
$color-placeholder    : #fefefe;
$color-success        : #81d135;
$color-error          : #dd0000;

$type-color-normal    : #A8A77A;
$type-color-fire      : #EE8130;
$type-color-water     : #6390F0;
$type-color-electric  : #F7D02C;
$type-color-grass     : #7AC74C;
$type-color-ice       : #96D9D6;
$type-color-fighting  : #C22E28;
$type-color-poison    : #A33EA1;
$type-color-ground    : #E2BF65;
$type-color-flying    : #A98FF3;
$type-color-psychic   : #F95587;
$type-color-bug       : #A6B91A;
$type-color-rock      : #B6A136;
$type-color-ghost     : #735797;
$type-color-dragon    : #6F35FC;
$type-color-dark      : #705746;
$type-color-steel     : #B7B7CE;
$type-color-fairy     : #D685AD;
